<!-- {%extends 'Header.html'%}
{%block content%} -->

<div class = "listing">
			<div class="product">
				<div id = "name"> <strong>Product Name</strong></div>
				<div id="product_type"><strong>Product Type</strong></div>
				<div id ="product_quant"><strong>Quantity</strong></div>
			</div>
			<hr>
			<div class="product">
				{%for item in lists%}
				<div id = "name"> {{item[0]}}</div>
				<div id="product_type">{{item[1]}}</div>
				<div id ="product_quant">{{item[2]}}</div>
				{%endfor%}
			</div>
		</div>
<!-- {%endblock%} -->